@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/newcss")
    <title>Главная</title>

</head>
<body>
    <div id="wrapper">
        <div class="start-button-div">

            <a href="/Home/Start" class="button">Start application! <i class="icon-chevron-right"></i></a>

        </div>
        <h3>В данный момент длительность работы приложения составляет: @ViewBag.Duration секунд.</h3>
        <h3>Если вы хотите изменить это значение, перейдите на страницу <a href="/Configurations">конфигурирования</a>.</h3>
    </div>
</body>
</html>