@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
</head>
<body>
    <div class="start-button-div">
        <p><a href="/Start">Start</a></p>
    </div>
    <p>В данный момент длительность работы приложения составляет: @ViewBag.Duration секунд.</p>
    <p>Если вы хотите изменить это значение, перейдите по <a href="/Configurations">ссылке</a>.</p>
</body>
</html>