@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
</head>
<body>
    <div id="wrapper">
        <div class="start-button-div">
            <p><a href="/Home/Start">Start</a></p>
        </div>
        <p>В данный момент длительность работы приложения составляет: @ViewBag.Duration секунд.</p>
        <p>Если вы хотите изменить это значение, перейдите на страницу <a href="/Configurations">конфигурирования</a>.</p>
    </div>
</body>
</html>