@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Конфигурирование</title>
</head>
<body>
    <div id="wrapper">
            <h3 class="text-centration">В данный момент длительность работы приложения составляет: @ViewBag.Duration секунд.</h3>
            <form method="post" action="/Configurations/SetDuration">

                <h3>Введите желаемую длительность работы приложения:</h3>
                @Html.TextBox("duration")
                <input type="submit" />
            </form>

        </div>
</body>
</html>