@Scripts.Render("~/bundles/chartscripts") 
<script>
    buildLineChartAjax("/Graphics/AjaxChart", "Linecanvas");
</script>

<div style="text-align: center">
    <canvas id="Linecanvas"></canvas>
</div>