@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Графики</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>  
    <script language="javascript" type="text/javascript" src="~/Scripts/LineChartScript.js"></script>
    <script>
        buildLineChart(@Html.Raw(Json.Encode(@ViewBag.ContentIds)), @Html.Raw(Json.Encode(@ViewBag.DelayedResponseTimes)), "Delayed Response Times", "Linecanvas");
    </script>
</head>
<body>

    <div style="text-align: center">
        <canvas id="Linecanvas"></canvas>
    </div>
    <div style="text-align: center">
        Disclaimer:- AZAZA
    </div>  

</body>
</html>