@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Графики</title>
</head>
<body>
    <div class="configuration">
        <p>Страница, где будут графики</p>
    </div>
</body>
</html>