@model IEnumerable<WebApplication.Models.DBContent>

<div id="searchresults">
    <h3>Ответы от сервиса status/200:</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.CommonResponseTime</li>
        }
    </ul>
</div>
