@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>БД</title>
</head>
<body>
    <div>
        <h3>Содержимое базы данных</h3>
        <table>
            <tr>
                <td><p>Ответы от status/200</p></td>
                <td><p>Ответы от delay/x</p></td>
                <td></td>
            </tr>
            @foreach (var contentItem in ViewBag.Content)
            {
                <tr>
                    <td><p>@contentItem.CommonResponseTime</p></td>
                    <td><p>@contentItem.DelayedResponseTime</p></td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>